In [3]:
x = [1,2,3]

for item in x:
    #comment
    pass

In [4]:
mystring = "Sammy"

In [7]:
for letter in mystring:
    if letter == "a":
        break
    print(letter)

S

In [10]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [14]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [15]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [26]:
word = "abcde"

for i,l in enumerate(word):
    print(i)
    print(l)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [32]:
mylist1 = [1,2,3,4,5]
mylist2 = ["a","b","c"]
mylist3 = [100]

In [33]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [35]:
"x" in [1,2,3]

False

In [36]:
"x" in ["x","y","z"]

True

In [37]:
"a" in "a world"

True

In [38]:
"mykey" in {"mykey":345}

True

In [39]:
d = {"mykey":345}

345 in d.keys()

False

In [40]:
mylist = [10,20,30,40,100]

In [41]:
min(mylist)

10

In [42]:
max(mylist)

100

In [43]:
from random import shuffle

In [44]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [45]:
shuffle(mylist)

In [46]:
mylist

[8, 6, 7, 10, 5, 2, 9, 4, 3, 1]

In [47]:
print(shuffle(mylist))

None

In [48]:
from random import randint

In [49]:
randint(0,100)

56

In [50]:
randint(0,100)

31

In [52]:
mynumb = randint(0,10)

print(mynumb)

2

In [53]:
mynumb

2

In [57]:
result = input("What is your name?")
print(result)

What is your name?derek
derek

In [56]:
result

'Derek'

In [58]:
result

'derek'

In [59]:
mystring = "hello"

In [61]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [63]:
mylist = [letter for letter in mystring]

print(mylist)

['h', 'e', 'l', 'l', 'o']

In [64]:
mylist = [x for x in "word"]

print(mylist)

['w', 'o', 'r', 'd']

In [68]:
mylist = [num**2 for num in range(0,11) if num%2==0]

print(mylist)

[0, 4, 16, 36, 64, 100]

In [71]:
celcius = [0,10,20,34]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

print(fahrenheit)

[32.0, 50.0, 68.0, 93.2]

In [75]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
print(fahrenheit)

[32.0, 50.0, 68.0, 93.2]