In [1]:
mylist = [1,2,3]

In [3]:
mylist.append(19)
print(mylist)

[1, 2, 3, 19, 19]

In [5]:
mylist

[1, 2, 3, 19, 19]

In [8]:
mylist.pop()
print(mylist)

[1, 2, 3]

In [9]:
mylist.append(3*8)

In [10]:
mylist

[1, 2, 3, 24]

In [12]:
mylist.pop()
print(mylist)

[1, 2, 3, 24]

In [13]:
mylist.pop()

24

In [14]:
mylist

[1, 2, 3]

In [15]:
mylist.count()

TypeError: count() takes exactly one argument (0 given)

In [16]:
mylist.count(1)

1

In [17]:
mylist = [1,2,3,4,6,1,1,1,1,1]

In [18]:
mylist.count(1)

6

In [1]:
def name_function():
    '''
    DOCSTRING Information about the function
    INPUT: NO input...
    OUTPUT: Hello...
    '''
    print("Hello")

In [4]:
name_function()

Hello

In [17]:
def say_hello(name="Derek"):
    return "Hello "+ name

In [18]:
result = say_hello("Bob")

In [19]:
result

'Hello Bob'

In [20]:
def add(n1,n2):
    return n1 + n2

In [21]:
result = add(20,30)

In [22]:
result

50

In [23]:
#Find out if the word "dog" is in a string?

In [33]:
def dog_check(string):
    return "dog" in string.lower()

In [34]:
dog_check("My Dog ran away")

True

In [30]:
"dog" in "dog ran away"

True

In [35]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check if vowel
    if first_letter in "aeiou":
        pig_word = word + "ay"
    else:
        pig_word = word[1:] + first_letter + "ay"
        
    return pig_word

In [37]:
pig_latin("word")

'ordway'

In [6]:
def myfunc(*args,**kwargs):
    print("I would like {} {}".format(args[0],kwargs["food"]))

In [7]:
myfunc(10,food = "shits")

I would like 10 shits

In [29]:
def myfunc(*args):
    num = []
    for n in args:
        if n%2==0:
            num.append(n)
    return num

In [30]:
myfunc(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]

In [31]:
num = [1,2]

In [35]:
n = 3

In [36]:
num.append(n)

In [37]:
num

[1, 2, [3], 3]

In [38]:
num.pop()
num.pop()

[3]

In [39]:
num

[1, 2]

In [40]:
num.append(n)

In [41]:
num

[1, 2, 3]

In [42]:
m = "hello"

In [46]:
mu = m.upper()

In [47]:
mu

'HELLO'

In [52]:
def myfunc(s):
    ret = ""
    i = True
    for char in s:
        if i:
            ret += char.upper()
        else:
            ret += char.lower()
        if char != " ":
            i = not i
    return ret

In [53]:
myfunc("helloworld")

'HeLlOwOrLd'

In [59]:
#Return the lesser of two numbers if both are even or greater if the numbers are odd
def less_of_evens(a,b):
    if a and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [63]:
less_of_evens(2,48)

2

In [36]:
#Write a function that takes a two-word string and returns True if both words start with the same letter and False if not
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [37]:
animal_crackers("Tim tim")

True

In [39]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integer is 20 if not return False.
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [42]:
makes_twenty(2,18)

True

In [126]:
#Write a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [143]:
old_macdonald("bobhadababyitsaboy")

'BobHadababyitsaboy'

In [1]:
#Write code that takes a inputed sentence and reverse string order.
def master_yoda(text):
    sp = text.split()
    flip = " ".join(reversed(sp))
    return flip

In [2]:
master_yoda("We Are Ready")

'Ready Are We'

In [35]:
#Given an integer n, return True if n is with 10 or either 100 or 200
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [41]:
almost_there(90)

True

In [55]:
#Given a list of ints, return Ture if the array contains a 3 next to a 3 somewhere.
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [56]:
has_33([1,3,2,3,3])

True

In [67]:
#Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.
def diff21(n):
    if n <= 21:
        return abs(n-21)
    elif n > 21:
        return abs(n-21)*2

In [70]:
diff21(25)

8

In [77]:
#We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.
def parrot_trouble(talking, hour):
    return (talking and (hour < 7 or hour > 20))

In [83]:
parrot_trouble(True,21)

True